<div class="splitcontent">
    <div id="edit-checkitems" class="splitcontentleft">
        <p>
            <%= label_tag "Check List", nil, class: "checkitem-add" %>
            <%= link_to "Add",
                        "javascript:void(0);",
                        :onclick => "addCheckItem(event); return false;",
                        title: "Add",
                        class: "icon-only icon-add checkitem-add" %>
        </p>
        <% checklist.each do |item| %>
        <p>
            <%= hidden_field_tag "items[][is_done]", false %>
            <%= check_box_tag "items[][is_done]", true, item.is_done, id: "edit_is_done_#{item.id}", style: "cursor: pointer;" %>
            <%= text_field_tag "items[][text]", item.text, size: 100 %>
            <%= link_to "", "javascript:void(0);", class: "icon-only icon-del checkitem-delete", onclick: "deleteCheckItem(event); return false;" %>
        </p>
        <% end %>
    </div>
</div>

<script>
//<![CDATA[
    function addCheckItem(e) {
        e.preventDefault();
        var p = document.createElement('p');

        var hidden = document.createElement('input');
        hidden.setAttribute('name', 'items[][is_done]');
        hidden.setAttribute('value', false);
        hidden.setAttribute('type', 'hidden');

        var checkbox = document.createElement('input');
        checkbox.setAttribute('name', 'items[][is_done]');
        checkbox.setAttribute('value', true);
        checkbox.setAttribute('type', 'checkbox');

        var input = document.createElement('input');
        input.setAttribute('name', 'items[][text]');
        input.setAttribute('value', '');
        input.setAttribute('type', 'text');
        input.setAttribute('size', '100');
        input.style.marginLeft = '4px';

        var a = document.createElement('a');
        a.setAttribute('href', 'javascript:void(0);');
        a.setAttribute('onclick', 'deleteCheckItem(event); return false;');
        a.setAttribute('class', 'icon-only icon-del checkitem-delete');
        a.style.marginLeft = '4px';

        p.appendChild(hidden);
        p.appendChild(checkbox);
        p.appendChild(input);
        p.appendChild(a);

        var divElement = document.querySelector('#edit-checkitems');
        divElement.appendChild(p);
    }

    function deleteCheckItem(e) {
        e.preventDefault();
        var deleteElement = e.target.parentElement;
        deleteElement.remove();
    }
//]]>
</script>
